body {
    background-image: url("pattern_03.jpg") ;
    background-repeat: repeat-y repeat-x;
}
p {
	font-size: 20px;
}
table {
    margin: 0 auto;
    float: none;
    border-collapse: collapse;
    text-align: center;
}
table, th, td {
    color: solid black;
    border: none;
    padding: 10px;
}
td { 
    font-weight: bold;
    font-size: 20px;
}
a.sus:link {
    color: #999966;
    background-color: transparent;
    text-decoration: none;
}
a.sus:visited {
    color: #999966;
    background-color: transparent;
    text-decoration: none;
}
a.sus:hover {
    color: #999966;
    background-color: transparent;
    text-decoration: underline;
}
a.sus:active {
    color: #999966;
    background-color: transparent;
    text-decoration: underline;
}
a.return { 
    color: white;
    background-color: transparent;
    text-decoration:none;
    font-size: 18px;

}
a.return:hover {
    text-decoration: none;
    background-color: transparent;
    font-weight: bold;
}
